<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row bg-header">
        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2 d-flex a-item-center">
            <img src="assets/images/marvel.png" class="w-100">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-12 col-sm-10 d-flex a-item-center">
            <input type="search" placeholder="Busca tu Archivo" id="Buscador" [(ngModel)]="filterPost" />
        </div>
    </div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <div class="character">
                <h1>Characters</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mg-y-5"
                    *ngFor="let hero of heroes | filter: filterPost | paginate: { itemsPerPage: 10, currentPage: pagina }">
                    <div class="card">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                                <img width="100%" height="70%"
                                    src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}">
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <strong>{{hero.name}}</strong>
                                <div class="contenedor">
                                    <p>{{hero.description ? hero.description : 'No existe una descripción para
                                        este
                                        comic'}}</p>
                                </div>
                                <button class="u-btn u-btn--view-more"
                                    (click)="accordion.class = accordion.class == 'showChildren' ? '' :  'showChildren'"
                                    #accordion>VIEW
                                    MORE</button>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-lg-6"  *ngFor="let comic of hero?.items"
                                        [ngClass]="{ hideChildren : accordion.class !== 'showChildren' }">
                                        <div class="comic-name" (click)="openViewMore(comic)">{{comic.name}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange)="pagina = $event"></pagination-controls>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bg-favourites">
            <app-my-favourites [favComics]="favComics"></app-my-favourites>
        </div>
    </div>
    <ng-container #viewMore></ng-container>
</div>