<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" style="background-color: #2d2727;">
        <div class="col-lg-2 col-md-2 col-xs-12 col-sm-2" style="display: flex; align-items: center;">
            <img src="assets/images/marvel.png" width="100%">
        </div>
        <div class="col-lg-10 col-md-10 col-xs-12 col-sm-10" style="display: flex; align-items: center;">
            <input type="search" placeholder="Busca tu Archivo" id="Buscador" />
        </div>
    </div>
</div>