<div class="modal" *ngIf="visible">
    <div class="modal__content">
        <span class="modal__close" (click)="onNoClick()">&times;</span>
        <div class="row pdd-y-40">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img width="100%" height="70%" src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <strong>{{hero.title}}</strong>
                <div class="contenedor">
                    <p>{{hero.description ? hero.description : 'No existe una descripción para este
                        comic'}}</p>
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <div (click)=" setHero()" class="modal__footer__button modal__footer__button--fav">
                Agregar a favoritos
            </div>
            <div class="modal__footer__button modal__footer__button--buy">
                comprar ahora
            </div>
        </div>
    </div>
</div>